.body_cv{
  background-color: #121212;
  color: #f5f5f5;
  font-family: 'Roboto Mono', monospace;
}


#img_perfil{
  width: 150px;
  height: 150px;
  border-radius: 100%; 
  border: 2px solid #00FF00; 
}

.header_cv{
  display: flex;
  background-color: #1E1E1E;
  justify-content: space-around;
  padding: 2%; 
  border-bottom: 2px solid #444444;
}

.info_perfil{
  text-align: center; 
  
}

#info_perfil_h1{
  font-size: 35px;
}
#info_perfil_h2{
  font-size: 17px;
  color: #B0B0B0;
}



.links_header a{
  color: #008CBA;
  text-decoration: none;
}
.links_header a:hover{
  color: #00FF00;
}




/* main */
main{ 
  background-color: #2B2B2B;
  padding: 5%;
}

.contenedor_main{
  display: flex;
}

.text_seccion2{
  display: flex;
  align-items: center;
  gap: 1.5%; 
}

.text_seccion2_p{
  padding-left: 4%;
} 

.seccion1_cv{
  width: 27%;
  padding-right: 3%;
  text-align: left;
}

.seccion2_cv{
  width: 67%;
}
/* footer */
footer{
  background-color: #1E1E1E;
  padding: 20px;
}

.footer_cv{
  display: flex;
  justify-content: space-between;
  padding-right: 8%;
  padding-left: 8%;
}

.links_footer{
  color: #008CBA;
  text-decoration: none;
}

.footer_cv a:hover{
  color: #00FF00;
   transition-duration:0.5s ; 
}

/*iconos*/
i {
  color: #2fbe2d ;
  
}
/*lista*/
ul {
  list-style: none;
};


