.body_cv{
  background-color: #1E1E1E;
  color: #FFFFFF;
  font-family: 'Roboto Mono', monospace;
}

#icon{
  padding-right: 4%;
  padding-top: 5%;

}

#img_perfil{
  width: 150px;
  height: 150px;
  border-radius: 100%; 
  border: 2px solid #00FF00; 
}

.header_cv{
  display: flex;
  justify-content: space-around;
  padding: 2%; 
  border-bottom: 2px solid #444444;
}

/* Clase informacion de perfil mas las ID de los textos */
.info_perfil{
  text-align: center; 
  
}

#info_perfil_h1{
  font-size: 35px;
}
#info_perfil_h2{
  font-size: 17px;
  color: #B0B0B0;
}



.links_header a{
  color: #008CBA;
  text-decoration: none;
}
.links_header a:hover{
  color: #00FF00;
}




/* main */
main{
  min-height: 400px;
  background-color: #2B2B2B;
  padding: 20px;
}

.contenedor_main{
  display: flex;

}

.seccion1_cv{
  width: 25%;
  padding: 10px;
  text-align: left;
}

.seccion2_cv{
  width: 75%;
}
/* footer */
footer{
  background-color: #1E1E1E;
  padding: 20px;
}

.footer_cv{
  display: flex;
  justify-content: space-between;
  padding-right: 8%;
  padding-left: 8%;
}

.links_footer{
  color: #008CBA;
  text-decoration: none;
}

.footer_cv a:hover{
  color: #00FF00;
}


